<h1>Customers</h1>

<%= link_to 'New Customer', new_customer_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.phone_number %></td>
        <td><%= customer.email %></td>
        <td>
          <%= link_to 'View', customer_path(customer), class: 'btn btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
