<h1>Customers</h1>

<%= link_to 'New Customer', new_customer_path %>
<%= link_to 'Tickets', tickets_path %>

<%= form_with url: customers_path, method: :get, local: true do |form| %>
  <%= form.label :query, "Search Customers:" %>
  <%= form.text_field :query, value: params[:query], placeholder: "Enter customer name, address, phone number, or email" %>
  <%= form.submit "Search" %>
  <%= link_to 'Reset', customers_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.phone_number %></td>
        <td><%= customer.email %></td>
        <td>
          <%= link_to 'View', customer_path(customer) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @customers %>
