<h1>Tickets</h1>

<%= link_to 'New Ticket', new_ticket_path %>
<%= link_to 'Customers', customers_path %>


<%= form_with url: tickets_path, method: :get, local: true do |form| %>
  <%= form.label :query, "Search Tickets:" %>
  <%= form.text_field :query, value: params[:query], placeholder: "Enter ticket #, status, or customer name" %>
  <%= form.submit "Search" %>
  <%= link_to 'Reset', tickets_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Ticket #</th>
      <th>Status</th>
      <th>Customer</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.ticket_number %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.customer&.name || 'Unassigned' %></td>
        <td>
          <%= link_to 'View', ticket_path(ticket) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tickets %>
