<h1>Tickets</h1>

<%= link_to 'New Ticket', new_ticket_path, class: 'btn btn-primary' %>
<%= link_to 'Customers', customers_path, class: 'btn btn-secondary' %>

<table>
  <thead>
    <tr>
      <th>Ticket #</th>
      <th>Status</th>
      <th>Customer</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.ticket_number %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.customer&.name || 'Unassigned' %></td>
        <td>
          <%= link_to 'View', ticket_path(ticket), class: 'btn btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
