<%= form_with(model: [@ticket, @line_item], local: true) do |form| %>
    <div>
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>
  
    <div>
      <%= form.label :amount %>
      <%= form.number_field :amount, step: 1 %>
    </div>
  
    <%= form.submit %>
<% end %>
  