<h1>Account Information</h1>

<%= form_with(model: @user, url: account_path, local: true) do |form| %>
  <div>
    <%= form.label :business_name %>
    <%= form.text_field :business_name, required: true %>
  </div>

  <div>
    <%= form.label :business_address %>
    <%= form.text_area :business_address, required: true %>
  </div>

  <div>
    <%= form.label :business_phone %>
    <%= form.telephone_field :business_phone, data: { controller: "phone-input" }, maxlength: 12, placeholder: "123-123-1234" %>
  </div>

  <div>
    <%= form.submit "Save Changes" %>
  </div>

  <%= link_to "Back", tickets_path %>

<% end %>
